spring:
  config:
    activate:
      on-profile: docker

management:
  zipkin:
    tracing:
      enabled: false

  tracing:
    enabled: true
    sampling:
      probability: 1.0

logging:
  pattern:
    level: '%5p [${spring.application.name},%X{traceId:-},%X{spanId:-}]'
